html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

#text-input {
  width: 80%;
  padding: 20px 15px;
  font-size: 18px;
  border-radius: 10px;
}

#mode-selector {
  font-size: 18px;
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 1px solid #888;
  border-radius: 10px;
}

#log-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#log-wrapper h2 {
  margin-bottom: 0;
  text-align: center;
}
#log {
  margin: 0;
  padding: 15px 20px;
  border: 2px solid #888;
  border-radius: 20px;
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
  white-space: pre-line;
  text-align: left;
  box-sizing: border-box;
}
