html,
body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabs-wrapper {
  width: 50%;
}

#tabs-container {
  display: flex;
}
.tab {
  font-size: 15px;
  padding: 10px 30px;
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(210, 105, 30, 0.3);
}
.tab:focus-visible {
  outline: none;
}
.tab:hover {
  background-color: rgba(210, 105, 30, 0.6);
}
.tab.active {
  background-color: rgba(210, 105, 30, 1);
}

#tab-content-container {
  width: 100%;
  height: 400px;
  padding: 15px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: ghostwhite;
  box-shadow: 2px 2px 10px lightgray;
}
