html,
body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 800px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tower {
}
.tower-column-container {
  height: 380px;
  display: flex;
  justify-content: center;
  position: relative;
}
.column {
  width: 50px;
  height: 100%;
  background-color: lightgray;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rings-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
.ring {
  height: 60px;
  border-radius: 30px;
  z-index: 100;
}

.tower-base {
  height: 60px;
  width: 280px;
  background-color: green;
  border-radius: 30px;
}
