main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter-container {
  width: 50%;
  padding: 20px;
}
#counter-value {
  width: 100%;
  background-color: rgb(195, 229, 240);
  border-radius: 10px;
  font-size: 32px;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
}

#action-bar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
#action-bar > button {
  font-size: 18px;
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  border: none;
}
#undo-btn {
  background-color: crimson;
  color: ghostwhite;
  &:hover {
    background-color: darkred;
  }
  &:disabled {
    background-color: gray;
  }
}
#redo-btn {
  background-color: forestgreen;
  color: ghostwhite;
  &:hover {
    background-color: darkgreen;
  }
  &:disabled {
    background-color: gray;
  }
}
#increment-btn,
#decrement-btn {
  background-color: dodgerblue;
  color: ghostwhite;
  &:hover {
    background-color: mediumblue;
  }
}
