main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-list-container {
  width: 50%;
}

#product-list {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
}

#product-list > li {
  padding: 10px 20px;
  background-color: khaki;
}
#load-more-indicator {
  background-color: orange !important;
  min-height: 30px;
}

#product-list-counts {
  display: flex;
  justify-content: flex-end;
}
