:root {
  --cell-size: 180px;
  --marker-size: calc(var(--cell-size) * 0.7);
}

#board {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  gap: 2px;
  position: relative;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 127, 80, 0.8);
  cursor: pointer;
}
/* .cell:not(.x):not(.o):hover {
} */
.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
#board.x .cell:not(.o):not(.x):hover::before,
#board.x .cell:not(.o):not(.x):hover::after {
  position: absolute;
  content: "";
  height: var(--marker-size);
  width: calc(var(--marker-size) * 0.15);
  background-color: black;
}
.cell.x::before,
#board.x .cell::before {
  transform: rotate(45deg);
}
.cell.x::after,
#board.x .cell::after {
  transform: rotate(-45deg);
}

.cell.o::before,
#board.o .cell:not(.o):not(.x):hover::before {
  position: absolute;
  content: "";
  height: calc(var(--marker-size) * 0.75);
  width: calc(var(--marker-size) * 0.75);
  border: calc(var(--marker-size) * 0.15) solid black;
  border-radius: 50%;
}

#board.x .cell:not(.o):not(.x):hover::before,
#board.x .cell:not(.o):not(.x):hover::after {
  background-color: rgba(255, 127, 80, 1);
}

#board.o .cell:not(.o):not(.x):hover::before {
  border-color: rgba(255, 127, 80, 1);
}

#overlay {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#overlay p {
  font-size: 28px;
  color: white;
  text-transform: capitalize;
}
#restart-btn {
  font-size: 22px;
  padding: 15px 40px;
}
