html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

:root {
  --grid-size: 3;
  --cell-size: 100px;
  --marker-size: calc(var(--cell-size) * 0.9);
}

main {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Board */
#board {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  height: calc(var(--cell-size) * var(--grid-size));
  width: calc(var(--cell-size) * var(--grid-size));
}
.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:nth-child(n) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(n + 7) {
  border-bottom: none;
}

/* Markers - X */
.cell.x,
.cell.o {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after,
#board[data-turn="x"] .cell:not(.x):not(.o):hover::before,
#board[data-turn="x"] .cell:not(.x):not(.o):hover::after {
  content: "";
  height: var(--marker-size);
  width: calc(var(--marker-size) * 0.15);
  background-color: black;
  position: absolute;
}
.cell.x::before,
#board[data-turn="x"] .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
#board[data-turn="x"] .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

/* Markers - O */
.cell.o::before,
#board[data-turn="o"] .cell:not(.x):not(.o):hover::before {
  content: "";
  height: calc(var(--marker-size) * 0.75);
  width: calc(var(--marker-size) * 0.75);
  border: calc(var(--marker-size) * 0.15) solid black;
  border-radius: 50%;
}

/* Hover Marker - X */
#board[data-turn="x"] .cell:not(.x):not(.o):hover::before,
#board[data-turn="x"] .cell:not(.x):not(.o):hover::after {
  background-color: lightgray;
}
#board[data-turn="o"] .cell:not(.x):not(.o):hover::before {
  border-color: lightgray;
}

/* Result Overlay */
#result-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#result-overlay.show {
  display: flex;
}

#result-text {
  font-size: 52px;
  color: white;
}

#restart-btn {
  font-size: 28px;
  padding: 10px 30px;
}
