html,
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: dodgerblue;
  color: ghostwhite;
  padding: 10px;
}
main {
  flex: 1;
  background-color: ghostwhite;
  padding: 20px 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#column-todo,
#column-inprogress,
#column-done {
  border: 2px solid dodgerblue;
  border-radius: 10px;
}

.column-title {
  margin-bottom: 10px;
  text-align: center;
}
.task-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 8px 12px;
}

.task-card {
  background-color: orange;
  padding: 10px 15px;
  border-radius: 10px;
}
.task-card > .task-card-title {
  font-size: 20px;
}
.task-card > .task-card-actions {
  display: flex;
  justify-content: space-between;
}
.task-card > .task-card-actions > button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: ghostwhite;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: mediumblue;
  }
}
