html,
body {
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 12px 30px;
  background-color: lavender;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}
