:root {
  --cell-size: 30px;
}

#board {
  display: grid;
  grid-template-columns: repeat(20, var(--cell-size));
  grid-template-rows: repeat(20, var(--cell-size));
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.food {
  background-color: lightcoral;
}
.cell.snake {
  background-color: crimson;
}
