html,
body {
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  width: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#list-container {
  flex-grow: 1;
  height: 85%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}
#input-container {
  width: 100%;
  height: 15%;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}
#input-container > label {
  width: 60%;
}
#new-item-input {
  width: 100%;
  font-size: 18px;
  padding: 8px 15px;
}
